* {
  margin: 0px;
}
Link {
  padding-top: 1.5em;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products {
  z-index: 1;
  padding: 10px;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0px 6em;
}

.row2 {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding: 0px;
  }
}
